body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    margin-top: 50px;
}

form {
    background-color: #fff;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    width: 400px;
}
input[type="email"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: 10px;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
}
input[type="text"], input[type="password"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: 10px;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

label {
    display: block;
    font-weight: bold;
    margin-top: 20px;
    font-size: 16px;
}
.hide {
    display: none;
}